node_modules
npm-debug.log
examples/bundle.js
yarn.lock
package-lock.json

**tests*

# /DraggableAtribute.js*
# /Dropdown.js*
# /PivotTable.js*
# /PivotTableUI.js*
# /PlotlyRenderers.js*
# /TableRenderers.js*
# /Utilities.js*
# /pivottable.css

dist/